.circle-container {
  width: 800px;
  border: 2.5px solid black;
  height: 600px;
  position: relative;
  background-color: #f0f0f0; /* Phông nền cho container */
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: transparent; /* Ban đầu không có nền */
  transition: background-color 0.3s linear; 
}
.circle.hidden {
 display: none;
}

.countdown-timer {
  position: absolute;
  bottom: 4px; /* Đặt dưới vòng tròn */
  font-size: 12px;
  opacity: 1;
  color: white;
}

.circle.hidden .countdown-timer {
  display: none; /* Ẩn số đếm ngược khi vòng tròn bị ẩn */
}
